/* TAMANHO DA MOSCA */
.mosca1 {
  width: 50px;
  height: 50px;
}

.mosca2 {
  width: 80px;
  height: 80px;
}

.mosca3 {
  width: 100px;
  height: 100px;
}

/* LADO DA MOSCA */

.ladoA {
  transform: scaleX(1);
}

.ladoB {
  transform: scaleX(-1);
}

/* CENÁRIO */
body {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
}

.painel {
  position: absolute;
  width: 200px;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid white;
  border-radius: 8px;
  background-color: white;
  opacity: 0.7;
}

.vidas {
  float: left;
}

.cronometro {
  float: left;
  font-size: 20px;
  font-weight: bold;
}

html {
    cursor: url(../img/mata_mosca.png) 30 30, auto;
}